#btn_Esqueci_Senha {
    text-decoration: none;
    color: white;
}

.ReactModal__Content--after-open {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 200px;
    width: auto;
    margin: auto auto;
}

.ReactModal__Content--after-open h2 {
    display: flexbox;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
}

.ReactModal__Content--after-open span {
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
    color: red;
}