@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

.sidebar-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    margin: 50px 20px;
    font-size: 1.4rem;
    padding: 10px 0px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
}

.sidebar-profile ul {
    display: flex;
    flex-direction: column;
}

.sidebar-profile ul a {
    list-style: none;
    margin: 30px 40px 0px 0px;

}

.sidebar-profile a {
    list-style: none;
    margin: 10px;
    text-decoration: none;
    color: white;

}

#img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
    color: white;
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
}

#campo-loggout {
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#campo-loggout img{
    margin: 5px;
    width: 20px;
    height: 20px;
}

#campo-loggout p{
    margin: 5px;
    color: rgb(248, 76, 76);
}

body{
    background-color: #433b7c;
}