#tela_abrir_chamado {
    display: flex;
}

#forms_abrir-chamado {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.13);
    margin: 50px 20px;
    border-radius: 5px;
}

#forms_abrir-chamado h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

#forms_abrir-chamado h2 {
    margin: 0 30px;
    text-transform: uppercase;
    font-size: 30px;
}

#forms_abrir-chamado input {
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    margin: 20px 10px;
    text-align: center;
    color: white !important;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, .3);

}

#forms_abrir-chamado textarea {
    border-radius: 5px;
    max-width: 44.3rem;
    min-width: 44.3rem;
    max-height: 13.5rem;
    min-height: 13.5rem;
    width: 44.3rem;
    height: 13.5rem;
    margin: 20px;
}

#forms_abrir-chamado select {
    width: 20rem;
    height: 50px;
    border-radius: 5px;
    margin: 20px 10px;
    font-size: 20px;
    text-transform: uppercase;
}

#forms_abrir-chamado option {
    text-transform: uppercase;
    font-size: 15px;
}

#forms_abrir-chamado_I {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#forms_abrir-chamado_I input{
    width: 20rem;

}

#btn-Enviar-Ticket {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

#btn-Enviar-Ticket button {
    text-transform: uppercase;
    border: none;
    font-size: 25px;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    color: #00e6f0 !important;
    background-color: rgba(0, 42, 113, 0.8) !important;
    padding: 15px !important;
    border-radius: 5px;
}

#btn-Enviar-Ticket button:hover {
    color: white !important;
    /* background-color: rgba(0, 42, 113, 0.8) !important; */
}

@media only screen and (max-width: 600px) {
    #tela_abrir_chamado {
        position: relative;
    }
}

body{
    background-color: #433b7c;
    background: -moz-linear-gradient(left,  #002a71 0%, #00e6f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #002a71 0%,#00e6f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #002a71 0%,#00e6f0 130%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}